.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Ppneueworld Condensed', sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}

.logo {
  width: 300px;
}

.brand {
  margin-right: auto;
}

.nav-link {
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
}

.nav-menu {
  margin-left: auto;
}

.heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 180px;
  line-height: 140px;
  text-align: center;
}

.section {
  height: auto;
}

.danaroylogo {
  color: #fff;
  font-size: 61px;
}

.body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url('../images/img_5214s.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/img_5214s.jpg');
  background-position: 0px 0px, 50% 35%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.hero-h1 {
  color: #fff;
  font-size: 110px;
  line-height: 120px;
  text-align: center;
  letter-spacing: 0px;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-3 {
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  border-style: solid;
  border-width: 0px;
  border-color: #ffd5d5;
  background-color: hsla(0, 0%, 91.3%, 0.85);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.paragraph {
  margin-bottom: 0px;
  padding-left: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 25px;
  line-height: 40px;
}

.registry-h1 {
  margin-bottom: 40px;
  color: #fff;
  font-size: 140px;
  line-height: 140px;
}

.section-4 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/puck-milder-dj1FWFgIBTg-unsplash.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/puck-milder-dj1FWFgIBTg-unsplash.jpg');
  background-position: 0px 0px, 50% 100%;
  background-size: auto, cover;
}

.registry-p {
  padding-left: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #fff;
  font-size: 19px;
  line-height: 40px;
}

.hero-h2 {
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 70px;
  font-weight: 200;
  text-align: center;
}

.button {
  display: block;
  padding: 20px 100px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 130px;
  background-color: transparent;
  font-family: Rubik, sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  letter-spacing: 2px;
}

.button.w--current {
  display: none;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form-block {
  width: 100%;
}

.form-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: 0px;
  padding-left: 0px;
}

.submit-button {
  width: 100%;
  margin-top: 0px;
  padding: 20px 60px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 180px;
  background-color: transparent;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  letter-spacing: 4px;
}

.html-embed {
  height: 90vh;
}

.registry-bg-div {
  background-color: #fff;
}

.field-label {
  font-family: 'Ppneueworld Condensed', sans-serif;
  color: #044734;
  font-size: 40px;
  line-height: 60px;
  font-weight: 400;
}

.text-field {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  border-radius: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  letter-spacing: 1px;
}

.rsvp-h2 {
  margin-top: 0px;
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.rsvp-text-div {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.prop-img-div {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 60px;
  padding-left: 0px;
  border-radius: 0px;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.video {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 0px;
}

.prop-img-div-mobile {
  display: none;
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  padding-left: 0px;
}

.button--registry {
  display: none;
  padding: 20px 100px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 130px;
  background-color: transparent;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  letter-spacing: 2px;
}

.button--registry.w--current {
  display: none;
}

.rsvp-wrapper {
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-4 {
  display: block;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.return-div {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  height: 28px;
  margin-top: 40px;
  margin-left: 40px;
  border-bottom: 2px solid #fff;
}

.link {
  border-bottom: 0px none #fff;
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.details-div {
  width: 50%;
  padding-right: 40px;
  border-right: 3px solid #666;
}

.details-h1 {
  margin-bottom: 0px;
  color: #044633;
  font-size: 140px;
  line-height: 140px;
}

.rich-text-block {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 16px;
}

.details-text-block {
  font-family: Rubik, sans-serif;
}

.grid {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  border: 2px solid #000;
}

.html-embed-2 {
  display: none;
}

.heading-2 {
  font-family: 'Ppneueworld Condensed', sans-serif;
  color: #333131;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
}

.paragraph-2 {
  margin-bottom: 20px;
  font-family: Rubik, sans-serif;
  color: #555;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 2px;
}

.link-2 {
  font-family: Rubik, sans-serif;
  color: #044734;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.rsvp-h3 {
  margin-top: 0px;
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.rsvp-h2-copy {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.div-block-4 {
  margin-bottom: 20px;
  padding: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  border-radius: 20px;
}

.text-block {
  font-family: Rubik, sans-serif;
  font-size: 16px;
}

.select-field {
  margin-right: 0px;
  padding-top: 25px;
  padding-right: 12px;
  padding-bottom: 25px;
  border-radius: 0px;
  background-color: #fff;
  font-family: Rubik, sans-serif;
  color: #000;
}

.rsvp-h2-copy {
  margin-top: 30px;
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.checkbox-label {
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.checkbox-field {
  display: block;
  margin-top: 20px;
  margin-right: 40px;
  padding-bottom: 20px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-toggle {
  width: auto;
}

.text-block-2 {
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 16px;
}

.icon-2 {
  color: #fff;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-6 {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .body {
    background-position: 50% 50%;
  }

  .icon {
    color: #fff;
    font-size: 40px;
  }

  .rsvp-h2-copy {
    margin-bottom: 0px;
  }

  .div-block-4 {
    margin-bottom: 20px;
    padding: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
    border-radius: 30px;
  }
}

@media screen and (max-width: 479px) {
  .logo {
    display: block;
    width: 200px;
    margin: auto;
  }

  .brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-link {
    font-size: 60px;
    line-height: 60px;
    text-align: center;
  }

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-menu {
    height: 80vh;
    padding-top: 40px;
    background-color: transparent;
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
  }

  .heading {
    margin-top: 140px;
    font-size: 130px;
    line-height: 120px;
    text-align: center;
  }

  .section {
    height: auto;
    background-image: none;
  }

  .danaroylogo {
    font-size: 50px;
  }

  .body {
    background-image: none;
  }

  .hero-h1 {
    font-size: 64px;
    line-height: 70px;
  }

  .section-2 {
    height: 80vh;
  }

  .container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 100px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .section-3 {
    padding-top: 60px;
    background-color: #e9e9e9;
  }

  .registry-h1 {
    margin-bottom: 20px;
    font-size: 80px;
    line-height: 90px;
    text-align: center;
  }

  .section-4 {
    padding-top: 220px;
    padding-bottom: 220px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/puck-milder-dj1FWFgIBTg-unsplash.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/puck-milder-dj1FWFgIBTg-unsplash.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
  }

  .button {
    width: 80%;
    padding: 15px 0px;
    text-align: center;
  }

  .button.w--current {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }

  .submit-button {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .submit-button:hover {
    background-color: #fff;
    color: #3a3a3a;
  }

  .html-embed {
    display: none;
  }

  .rsvp-h2 {
    margin-bottom: 0px;
    font-size: 14px;
    text-align: center;
  }

  .rsvp-text-div {
    display: block;
    width: 90vw;
    margin-right: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .prop-img-div {
    display: none;
  }

  .container-3 {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
  }

  .menu-button {
    background-color: transparent;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .prop-img-div-mobile {
    display: block;
    width: auto;
    margin-top: 40px;
    margin-left: 0px;
  }

  .button--registry {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 0px;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    text-align: center;
  }

  .button--registry.w--current {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }

  .section-5 {
    height: auto;
    padding-bottom: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/image-1-2.png');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/image-1-2.png');
    background-position: 0px 0px, 55% 50%;
    background-size: auto, cover;
  }

  .link {
    font-size: 14px;
  }

  .details-div {
    width: auto;
    padding-right: 0px;
    border-right-style: none;
  }

  .details-h1 {
    margin-bottom: 20px;
    color: #014935;
    font-size: 80px;
    line-height: 90px;
    text-align: center;
  }

  .heading-2 {
    font-family: 'Ppneueworld Condensed', sans-serif;
    color: #333;
    font-size: 40px;
    line-height: 60px;
    font-weight: 400;
    text-align: center;
  }

  .paragraph-2 {
    font-family: Rubik, sans-serif;
    text-align: center;
    text-transform: none;
  }

  .link-2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-family: Rubik, sans-serif;
    color: #044734;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }

  .rsvp-h3 {
    font-size: 14px;
    text-align: center;
  }

  .div-block-3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url('../images/img_5214s.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/img_5214s.jpg');
    background-position: 0px 0px, 75% 50%;
    background-size: auto, cover;
  }

  .rsvp-h2-copy {
    margin-bottom: 0px;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }

  .div-block-4 {
    margin-bottom: 20px;
    padding: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 20px;
    background-color: transparent;
  }

  .rsvp-h2-copy {
    margin-bottom: 0px;
    font-size: 14px;
    text-align: center;
  }

  .checkbox-label {
    font-size: 16px;
  }

  .div-block-5 {
    display: block;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
  }
}

@font-face {
  font-family: 'Amsterdam four ttf 400';
  src: url('../fonts/Amsterdam-Four_ttf-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneueworld';
  src: url('../fonts/PPNeueWorld-Thin.otf') format('opentype'), url('../fonts/PPNeueWorld-ExtendedThin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneueworld Condensed';
  src: url('../fonts/PPNeueWorld-CondensedRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneueworld';
  src: url('../fonts/PPNeueWorld-SemiExtendedBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneueworld Condensed';
  src: url('../fonts/PPNeueWorld-SemiCondensedUltrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}